*{
  margin: 0;
  padding: 0;
  font-family:cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 200px;

position: fixed;
z-index: 999;
background-color:#F6F1F1;
}
nav a {
  padding:  1px 50px;
  font-size: 30px;
  text-decoration: none;
  color: #146C94;
  font-weight: 900;
  transition: 1s;
}
nav a:hover{
  color: #000000;
 text-shadow:1px 1px 10px #000000;
 background: #19A7CE;
 border-radius: 30px;
 
}
.logo{
  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  transition: 1s;
}
.logo:hover{
  transform: scale(1.5);
  text-shadow:0px 0px 10px #19A7CE;

}
.text-and-img{ display: flex;
   padding:100px 200px;
   width:100%;
   min-height:100vh;
  align-items:center;
  background: url(../img/wallpaperflare.com_wallpaper\ \(11\).jpg) no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;

}
.text-and-img h4{
  color: white;
  font-size: 40px;
  font-weight: 800;
letter-spacing: 2px;
transition: 1s;
}.text-and-img h4:hover{
 transform: scale(1.1);

}
.ff{
  font-size: 80px;
  display:inline-block;
  margin: 0px 20px;
  font-weight: 900;
  transition: 1s;
  color: #19A7CE;
text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.ff:hover{
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  color: red;
}

.text-and-img h3{
  color: #F6F1F1;
  font-size:30px;
  font-weight: 500;


}
.button{
  text-align:center;
  text-decoration: none;
  color: #000000;
  background:#146C94;
  padding: 10px 20px;
  margin: 10px ;
  display: inline-block;
  font-size: 50px;
  font-weight: 900;
  border-radius: 40px;
  transition: 1s;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);

}
.button:hover{
  color: rgb(255, 7, 7);
text-shadow: 0px 0px 10px black;
box-shadow: 0px 0px 10px rgb(134, 27, 27);
background: #000000;
transform: scale(1.1) ;
}
.icon a{
color: #ffffff;
font-size: 50px;
padding: 1px 20px;
text-shadow: 0px 0px 10px #19A7CE;
transition: 1s;
}

.icon a:hover{
 text-shadow: 0px 0px 10px #ff0101;
  color: #f2f9fc;
}
.titlle{
font-size: 80px;
  color:#146C94 ;
  font-weight: 800;
  display:flex;
  justify-content: center;
  
}
.all-cards{
  display: flex;
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;

}
.crd-1{
  background-color: #ffffff;
  width: 300px;
  box-shadow: 0px 5px 10px rgba(1,1,1,11);
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
  transition: 1s;
}.crd-1:hover{
  transform: scale(1.1);
  


}
.iconj{
  text-align: center;
  font-size: 100px;
  color: #000;

}
.inff{text-align: center;}
.inff h3{ text-align: center;
  font-size: 40px;
  font-weight: 600;
  color:#19A7CE;
  margin: 10px;

}
.projct{
  background: url(../img/23.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;


}
.projct .all-cards {
  margin: 30px;
}
.projctss{
  background-color: #f2f9fc;
  border: 1px solid wheat;
 min-height: 150px;
 width: 500px;
 overflow: hidden;
 border-radius: 15px;
 margin: 20px;
 transition: 1s ease;

}
.projctss:hover{
  transform: scale(1.1);
}
.immg img{ width: 100%;


}
.projctss .immg:hover{
opacity: 0.9;
}
.iinfo{
  padding: 16px;

}
.fff{
  font-size: 20px;

}
.so {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.lokk{
  text-decoration: none;
  color:#146C94;

}.lokk:hover{color: #ff0101;}
span{font-weight: 900; font-size: 20px;}
.footer{
  background-color: #000000;
  padding: 10px;
  color: #F6F1F1;
  display: flex;
  justify-content: space-between;
} .wee{
  font-size: 24px;
  margin-top: 15px;
  font-weight: 700;
}.wee span{
  color: aqua;
  font-weight: 800;
}